PORT=3000
MONGO_URI=mongodb+srv://3aboot37_db_user:ub829lz6AYcNPhnk@cluster0.zgho2nw.mongodb.net/fosha_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=fosha_super_secret_jwt_key_2026
NODE_ENV=development

# Firebase Service Account Credentials
FIREBASE_SERVICE_ACCOUNT=
